@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    @*Chèn nivo slider*@
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
</head>
<body>
    @RenderBody()
    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                <div class="icDienThoai">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    (+84) 1685-214-127
                </div>
                <div class="DangKyDangNhap">
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                    @Html.ActionLink("Đăng ký", "DangKy", null, htmlAttributes: new { @class = "DangKy" })
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    @Html.ActionLink("Đăng nhập", "DangNhap", null, htmlAttributes: new { @class = "DangNhap" })
                </div>

            </div>

            <div class="flash success" id="divDanhMuc">
                @*Hộp thoại tìm kiếm*@
                <div id="txtTimKiem">
                    @using (Html.BeginForm())
                    {
                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Tìm kiếm" })
                        <div id="divHinhAnhTimKiem">
                            <button type="submit"><img src="~/Content/HinhAnh/find32x32.png" /></button>
                        </div>
                    }
                </div>
                <ul class="navMenu">
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                    <li>
                        <a href="#">Hướng dẫn</a>
                    </li>
                    <li>
                        <a href="#">Sách</a>
                    </li>

                </ul>
            </div>
        </section>

        <section>
            <div id="divMenuLeft">
                <div class="activity">
                    <h1 class="item-header">Sách hay</h1>

                    <div class="activity-list-update">
                        <img src="http://lorempixel.com/50/50/" alt="Image">
                        <p><strong>A Farewell to Arms</strong> updated his <a href="#">user profile</a>.</p>
                        <div class="clear"></div>
                    </div>

                    <div class="activity-list-update">
                        <img src="http://lorempixel.com/50/50/" alt="Image">
                        <p><strong>A Brief of History</strong> uploaded a new file <a href="#">new-design.png</a></p>
                        <div class="clear"></div>
                    </div>

                    <div class="activity-list-update">
                        <img src="http://lorempixel.com/50/50/" alt="Image">
                        <p><strong>Doraemon</strong> uploaded a new file <a href="#">new-design.png</a></p>
                        <div class="clear"></div>
                    </div>

                    <a href="#" class="item-footer green">
                        Sách mới
                    </a>
                </div>
            </div>
            @*Chèn div nivo slider*@
            <div id="slider" class="nivoSlider">
                <img src="~/Content/HinhAnh/book-07.jpg" />
                <img src="~/Content/HinhAnh/huge.6.33646.png" />
                <img src="~/Content/HinhAnh/images.jpg" />
                <img src="~/Content/HinhAnh/miler-lagos-book-igloo.jpg" />
            </div>
            <div style="clear:both"></div>
        </section>

        <section>
            <div>
                <a href="#" class="button">This is a button</a>

                <a href="#" class="button button-submit">This is a save button</a>

                <a href="#" class="button">Button with a counter <span class="notification">22</span></a>

                <a href="#" class="button button-and-icon">
                    <div><i class="icon-large icon-cog"></i></div>Button with an icon
                </a>
            </div>

            <hr>

            <div>
                <a href="#" class="button button-submit">Submit</a>
                <a href="#" class="button button-cancel">Cancel</a>
                <a href="#" class="button button-delete">Delete</a>
            </div>

            <hr>

            <div>
                <a href="#" class="button button-small">Smaller button</a>
            </div>

            <hr>


        </section>

        <section class="blank items">
            <div class="item">
                <img src="http://lorempixel.com/400/300/" alt="Image">

                <div class="item-info">
                    <h1>Item title</h1>
                    <p>What the hell is this? Get out of town, I didn't know you did anything creative. Ah, let me read some.</p>
                    <span class="price">£49.99</span>
                    <a href="#" class="button button-buy">Get it now</a>
                </div>
            </div>
            <div>
                <a href="#" class="button button-buy">Buy button (full width for columns)</a>
            </div>
        </section>
    </div>
    @*script chayj nivo slider*@
        <script type="text/javascript">
        $(window).on('load', function() {
            $('#slider').nivoSlider({
                controlNav: false,
                nextText: '',
                prevText:''

            });
        });
        </script>
</body>
</html>
