@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Home Page";
}

@section NoiDungBenPhai{
    <div>
        This will make sure all the required files are loaded properly.
        If you have the Nivo Slider CSS and Javascript files in a subfolder you will need to add it to the path.
        Note that the Nivo Slider jQuery plugin requires jQuery v1.7+ to work.
        This will make sure all the required files are loaded properly.
        If you have the Nivo Slider CSS and Javascript files in a subfolder you will need to add it to the path.
        Note that the Nivo Slider jQuery plugin requires jQuery v1.7+ to work.
    </div>
    }

This will make sure all the required files are loaded properly. 
If you have the Nivo Slider CSS and Javascript files in a subfolder you will need to add it to the path. 
Note that the Nivo Slider jQuery plugin requires jQuery v1.7+ to work.