div#ToanTrang{
    position:relative;
    font-family: 'Segoe UI';
}

.DangKyDangNhap{
    float:right;
    margin-top: -1%;
}

.DangKyDangNhap a:hover{
    text-decoration: none;
    color:green;
}
.icDienThoai{
    float: left;
    margin-top: -1%;
}
.navMenu{
    float:right;
    margin-right:10%;
}
.navMenu li{
    display:inline;
    border-right:solid 1px rgba(0,0,0,.1);
    padding-bottom:22px;
    padding-top:21px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}
.navMenu li:hover{
    background-color:rgba(0,0,0,.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}
.navMenu a:hover{
     text-decoration: none;
}
#divDanhMuc{
    height:30px;
}

/* Css text box tìm kiếm*/
#txtTimKiem{
    float:left;
    margin-left:3%;
}
#txtTimKiem input{
    height:0;
}
#divHinhAnhTimKiem button{
    margin-right:-67px;
    padding:0 16px 0 16px;
    background-color:#14a19a;
}
#divHinhAnhTimKiem button:hover{
    background-color: rgba(0,0,0,.5);
}
#divHinhAnhTimKiem img{
    width:30px;
    height:30px;
}
#slider{
    float:right;
    width:700px;
    height:350px;
}
#slider img{
    width:700px;
    height:350px;
}
#divMenuLeft{
    float:left;
}