
@using WeSiteBanSach.Models;
@model  Sach
@{ 
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div>Mã Sách: @Model.MaSach</div>
<div>Tên Sách: @Model.TenSach</div>